﻿@model AvaliacaoDotNet.Models.Amigo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Amigo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strEndereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strEndereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strComplemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strComplemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strBairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strBairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strCidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strCidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strCep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strCep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strCelular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strCelular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
