﻿@model AvaliacaoDotNet.Models.Amigo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Amigo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.strNome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strNome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strEndereco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strEndereco)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strNumero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strNumero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strComplemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strComplemento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strBairro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strBairro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strCidade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strCidade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strEstado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strEstado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strCep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strCep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strCelular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strCelular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.strFoto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.strFoto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idAmigo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
