﻿@model IEnumerable<AvaliacaoDotNet.Models.Amigo>

@{
    ViewBag.Title = "Amigos";
}

@section style
{
    <link rel="stylesheet" href="~/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
}

<div class="box box-primary">
    <div class="box-header text-right">
        <a href="@Url.Action("Create")" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Adicionar</a>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="listagem" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>E-Mail</th>
                    <th>Celular</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @if(!string.IsNullOrEmpty(item.strFoto))
                            {
                                <img src="~/Uploads/@item.strFoto" style="max-width:150px;" />
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.strNome)</td>
                        <td>@Html.DisplayFor(modelItem => item.strEmail)</td>
                        <td>@Html.DisplayFor(modelItem => item.strCelular)</td>
                        <td>
                            <a href="@Url.Action("Details", new { id = item.idAmigo })" class="btn btn-xs btn-warning"><i class="fa fa-search"></i> Detalhes</a>
                            <a href="@Url.Action("Edit", new { id = item.idAmigo })" class="btn btn-xs btn-warning"><i class="fa fa-edit"></i> Editar</a>
                            <a href="@Url.Action("Delete", new { id = item.idAmigo })" class="btn btn-xs btn-warning"><i class="fa fa-trash"></i> Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

@section scripts {
    <script src="~/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/dist/js/listagens.js"></script>
    <script>
        $(function () {
            TableManaged.init();
        })
    </script>
}