﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapPathHelperModel
@using System.Linq

@if (Model.Nodes.Count > 1)
{
    <ol class="breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="@Url.Action("Index", "Home")"> <span class="divider"></span></a>
        </li>
        @foreach (var node in Model.Nodes)
        {
            if (node == Model.Nodes.First())
            {
                continue;
            }

            if (node != Model.Nodes.Last())
            {
                string url = node.IsClickable ? node.Url : "#";
                <li><a href="@url">@node.Title</a><span class="divider"></span></li>
            }
            else
            {
                <li class="active">@node.Title</li>
            }
        }
    </ol>
}