﻿@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul class="sidebar-menu" data-widget="tree">
    <li class="header">MENU</li>
    @foreach (SiteMapNodeModel node in Model.Nodes)
    {
        if (node == Model.Nodes.First())
        {
            continue;
        }

        <li @(node.IsCurrentNode ? "class=active" : "")>
            <a href="@node.Url">
                <i class="@node.ImageUrl.Replace("/", "")"></i>
                <span>@node.Title</span>
            </a>
        </li>
    }
</ul>